<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Submit a New Recipe</h1>
        <div style="width:30%; margin:25px auto;">
            <form action="/recipes" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="description">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="step1" placeholder="Step 1">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="step2" placeholder="Step 2">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="step3" placeholder="Step 3">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="step4" placeholder="Step 4">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="step5" placeholder="Step 5">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-danger btn-block">Submit</button>
                </div>
            </form>
            <a href="/recipes">Go back</a>
        </div>
    </div>
</div>



<%- include("../partials/footer") %>